/* estilo general para forms */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #272323;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: 500px;
    margin: 25px auto 0;
    padding: 25px;
    background: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 24px;
    margin-bottom: 15px;
    text-align: center;
    color: #5d9cec;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-weight: bold;
    color: #395e8a;
}

.form-group {
    margin-bottom: 15px;
    width: 100%;
}

.form-group input, .form-group select {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    border: 1px solid #0003;
    border-radius: 3px;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
    color: #333;
    position:relative
}

.form-group input:focus, .form-group select:focus{
    -webkit-box-shadow: 0 0 2px 1px #5d9cec;
    -moz-box-shadow: 0 0 2px 1px #5d9cec;
    box-shadow: 0 0 2px 1px #5d9cec;
    border: 1px solid #5d9cec;
}

button {
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    border-right: 4px;
    transition: all 0.3s ease;
}

button:hover{
    cursor: pointer;
    background-color: #5d9cec;
}

button a {
    color: #fff;
    text-decoration: none;
}

.btn-primary {
    background-color: #5d9cec;
    color: #fff;
}

.btn-primary:hover {
    background-color: #3081eb;
    cursor: pointer;
}

.btn-secondary {
    background-color: #ccc;
    color: #ffffff;
}

.btn-secondary:hover {
    background-color: #bbb;
    cursor: pointer;
}