<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>añadir enfermo</title>
    <link rel="stylesheet" href="../static/css/stylesheet_add_sick.css">
</head>
<body>
    <div>
        <form action="/add_sick" method="post" >
            <table>
                
                <tr><td><input type="text" placeholder="Nombre" name="nombre" required></td></tr>
                <tr><td><input type="text" placeholder="Apellido" name="apellido" required></td></tr>
                <tr><td><input type="text" placeholder="DNI" name="dni" required></td></tr>
                
                <tr><td><input type="text" placeholder="Provincia" name="provincia" required></td>
                <td><input type="text" placeholder="Departamento" name="departamento" required></td></tr>
                
                <tr><td><input type="text" placeholder="Barrio" name="barrio" required></td></tr>
                
                <tr><td><input type="text" placeholder="Calle" name="calle" required></td>
                <td><input type="int" placeholder="N°" name="numeracion" required></td></tr>
                <tr><td><input type="text" placeholder="Tipo de caso" name="caso" required></td></tr>
            </table>
            <button type="submit"> añadir</button>
        </form>
    </div>
</body>
</html>