<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Añadir Enfermo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet_general.css') }}">

</head>
<body>
    <div class="container">
        <div class="title">Añadir Paciente</div>
        <form action="/func_añadirPaciente" method="POST">
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" required>
            </div>
            <div class="form-group">
                <label for="apellido">Apellido:</label>
                <input type="text" id="apellido" name="apellido" required>
            </div>
            <div class="form-group">
                <label for="dni">DNI:</label>
                <input type="text" id="dni" name="dni" required>
            </div>
            <div class="form-group">
                <label for="provincia">Provincia:</label>
                <input type="text" id="provincia" name="provincia" required>
            </div>
            <div class="form-group">
                <label for="departamemnto">Departamento</label>
                <input type="text" id="departamemnto" name="departamento" required>
            </div>
            <div class="form-group">
                <label for="barrio">Barrio:</label>
                <input type="text" id="barrio" name="barrio" required>
            </div>
            <div class="form-group">
                <label for="calle">Calle</label>
                <input type="text" id="calle" name="calle" required>
            </div>
            <div class="form-group">
                <label for="numeracion">N°</label>
                <input type="number" id="numeracion" name="numeracion" required>
            </div>
            <div class="form-group">
                <label for="caso">Caso:</label>
                <select id="caso" name="caso" required>
                    <option value="" disabled selected>Seleccione el caso</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                </select>
            </div>
            <button type="submit" class="btn-primary">Añadir</button>
        </form>
        <button type="button" class="btn-secondary">
            <a href="/listaPacientes">Volver</a>
        </button>
    </div>
</body>
</html>
