<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar datos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet_general.css') }}">
</head>
<body>
    <div class="container">
        <div class="title">Editar datos</div>
        <form action="/actualizarDatos/{{datos['indice']}}" method="POST">
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" value="{{datos['nombre']}}">
            </div>
            <div class="form-group">
                <label for="apellido">Apellido:</label>
                <input type="text" id="apellido" name="apellido" value="{{datos['apellido']}}">
            </div>
            <div class="form-group">
                <label for="dni">DNI:</label>
                <input type="text" id="dni" name="dni" value="{{datos['dni']}}">
            </div>
            <div class="form-group">
                <label for="provincia">Provincia:</label>
                <input type="text" id="provincia" name="provincia" value="{{datos['provincia']}}">
            </div>
            <div class="form-group">
                <label for="departamemnto">Departamento:</label>
                <input type="text" id="departamemnto" name="departamento" value="{{datos['departamento']}}">
            </div>
            <div class="form-group">
                <label for="barrio">Barrio:</label>
                <input type="text" id="barrio" name="barrio" value="{{datos['barrio']}}">
            </div>
            <div class="form-group">
                <label for="calle">Calle:</label>
                <input type="text" id="calle" name="calle" value="{{datos['calle']}}">
            </div>
            <div class="form-group">
                <label for="numeracion">Numeración:</label>
                <input type="number" id="numeracion" name="numeracion" value="{{datos['numeracion']}}">
            </div>
            <div class="form-group">
                <label for="caso">Grupo:</label>
                <select id="caso" name="caso">
                    <option value="A" {% if datos[caso] == 'A' %}selected{% endif %}>A</option>
                    <option value="B" {% if datos[caso] == 'B' %}selected{% endif %}>B</option>
                    <option value="C" {% if datos[caso] == 'C' %}selected{% endif %}>C</option>
                </select>
            </div>
            <button type="submit" class="btn-primary">Actualizar</button>
            <button type="reset" class="btn-secondary">Restablecer</button>
        </form>
        <button type="button" class="btn-secondary">
            <a href="/view_sicks">Volver a la lista</a>
        </button>
    </div>
</body>
</html>
