<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar Datos</title>
</head>
<body>
    <div>
        <form action="/actualizarDatos/{{ datos['indice']}}" method="POST">
            <div>
                <label>Nombre:</label>
                <input type="text" name="nombre" value="{{ datos['nombre'] }}" required>
            </div>
            <div>
                <label>Apellido:</label>
                <input type="text" name="apellido" value="{{ datos['apellido'] }}" required>
            </div>
            <div>
                <label>DNI:</label>
                <input type="text" name="dni" value="{{ datos['dni'] }}" required>
            </div>
            <div>
                <label>Provincia:</label>
                <input type="text" name="provincia" value="{{ datos['provincia'] }}" required>
            </div>
            <div>
                <label>Departamento:</label>
                <input type="text" name="departamento" value="{{ datos['departamento']}}" required>
            </div>
            <div>
                <label>Barrio:</label>
                <input type="text" name="barrio" value="{{ datos['barrio'] }}" required>
            </div>
            <div>
                <label>Calle:</label>
                <input type="text" name="calle" value="{{ datos['calle'] }}" required>
            </div>
            <div>
                <label>Numeración:</label>
                <input type="text" name="numeracion" value="{{ datos['numeracion'] }}" required>
            </div>
            <div>
                <label>Grupo:</label>
                <select name="caso">
                  <option value="A" {% if datos.caso == "A" %}selected{% endif %}>A</option>
                  <option value="B" {% if datos.caso == 'B' %}selected{% endif %}>B</option>
                  <option value="C" {% if datos.caso == 'C' %}selected{% endif %}>C</option>
                </select>
            </div>
            <div>
                <button type="submit">Actualizar</button>
                <a href="/view_sicks">Volver</a>
            </div> 
        </form>
    </div>
    
</body>
</html>