<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nuevo.css') }}">
    <title>Gráficos</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="title">Gráficos</div>
            <div class="menu">
                <a href="/listaPacientes">Volver</a>
            </div>
        </div>
        <div class="graficos">
            <div class="graficos-fila">
                <div class="graficos-item">
                    <canvas id="casosChart"></canvas>
                </div>
                <div class="graficos-item">
                    <canvas id="sexoChart"></canvas>
                </div>
            </div>
            <div class="graficos-fila">
                <div class="graficos-item">
                    <canvas id="departamentosChart"></canvas>
                </div>
                <div class="graficos-item">
                    <canvas id="edadesChart"></canvas>
                </div>
            </div>
        </div>
    </div>
    <script type="application/json" id="casosLabels">{{ casos_labels | tojson }}</script>
    <script type="application/json" id="casosValues">{{ casos_values | tojson }}</script>
    <script type="application/json" id="sexoLabels">{{ sexo_labels | tojson }}</script>
    <script type="application/json" id="sexoValues">{{ sexo_values | tojson }}</script>
    <script type="application/json" id="departamentosLabels">{{ departamentos_labels | tojson }}</script>
    <script type="application/json" id="departamentosValues">{{ departamentos_values | tojson }}</script>
    <script type="application/json" id="edadesLabels">{{ edades_labels | tojson }}</script>
    <script type="application/json" id="edadesValues">{{ edades_values | tojson }}</script>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
