<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet_list_sicks.css') }}">
    <title>Grafico</title>
</head>
<body>
    <div class="container">
        <div class="title">Grafico de casos</div>
        <div class="menu">
            <a href="/view_sicks">Volver a la lista</a>
        </div>
    <div class="chart-container">
        <h2 class="graph">Gráfico del dengue</h2>
        <canvas id="myChart"></canvas>
    </div>
    <script type="application/json" id="labels">{{ labels | tojson }}</script>
    <script type="application/json" id="values">{{ values | tojson }}</script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
