<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/in.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="container__fondo"></div>
        <div class="container">
            <div class="container__text">
                <p class="sub__title">Estadística del dengue</p>
                <h1 class="title">Sistema de control <br> epidemiológico del dengue</h1>
                <p class="description">Ingrese al sistema para registrar a un nuevo paciente infectado.</p>
                <div class="btn login-btn">
                    <a href="/login">Login</a>
                </div>
            </div>
        </div>
    </header>
</body>
</html>