<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet_general.css') }}">
</head>
<body>
    <div class="container">
        <div class="title">Iniciar Sesión</div>
        <div class="form-group">
            {% if error %}
            <p style="color: red;">{{ error }}</p>
            {% endif %}
        </div>
        <form action="/login" method="POST">
            <div class="form-group">
                <label for="email">Correo Electrónico:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="contrasenia">Contraseña:</label>
                <input type="password" id="contrasenia"  name="contrasenia" required>
            </div>
            <button type="submit" class="btn-primary">Ingresar</button>
        </form>
        <button type="button" class="btn-secondary">
            <a href="/registro">Registrarme</a>
        </button>
        <button type="button" class="btn-secondary">
            <a href="/">Cancelar</a>
        </button>
    </div>
</body>
</html>