<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/in.css') }}">
    <title>Estadistica del dengue</title>
</head>
<body>
    <header>
        <div class="container__fondo"></div>
        <div class="container">
            <div class="container__text">
                <h1 class="title">Sistema de control <br> epidemiológico del dengue</h1>
                <p class="sub__title">Acceda al sistema para agregar un nuevo paciente</p>
                <div class="flash">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    <ul>
                        {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% endwith %} 
                </div>
                <div class="button-comtainer">
                    <div class="btn base-btn">
                        <a href="/iniciarSesion">Iniciar Sesión</a>
                    </div>
                    <div class="btn base-btn">
                        <a href="/registro">Registrarme</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
</body>
</html>