<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet_reg.css') }}">
</head>
<body>
    <div class="container">
        <form action="add_contact" method="POST" class="register-form">
            <div class="title">Registro</div>

            <div class="form-group">
                <input type="text" name="nombre" placeholder="Nombre" required>
            </div>
            <div class="form-group">
                <input type="text" name="apellido" placeholder="Apellido" required>
            </div>
            <div class="form-group">
                <input type="text" name="dni" placeholder="DNI" required>
            </div>
            <div class="form-group">
                <input type="password" name="contraseña" placeholder="Contraseña" required>
            </div>
            <div class="form-group">
                <input type="email" name="email" placeholder="Email" required>
            </div>
            <button type="submit" class="btn-primary">Registrarme</button>
            <button type="button" class="btn-secondary" onclick="window.location.href='/login'">Volver al Login</button>
        </form>
    </div>
</body>
</html>
