<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <div>

        <form action="add_contact" method="POST">
            <table>
                <h1 class="title">Registro</h1>
                <tr><input type="text" name= "nombre" placeholder="Nombre"></tr><br>
                <tr><input type="text" name= "apellido" placeholder="Apellido"></tr><br>
                <tr><input type="text" name= "dni" placeholder="DNI"></tr><br>
                <tr><input type="text" name= "contraseña" placeholder="Contraseña"></tr><br>
                <tr><input type="text" name= "email" placeholder="Email"></tr>

            
            </table>
            <BUtton type="submit" > 
                Registrarme
            </BUtton>

            <button type="button">
            <a href="/">Volver al Login</a>     
            </button>
        </form>
    </div>
    
</body>
</html>